
/* RESPONSIVE WEB */

@media (max-width: 769px){

  a {
    display: inline-block;
    width: ;
  }

  #profileDescription {
      display: inline-block;
      position: relative;
      font-size: 1em;
      padding: 0;
      margin: 0;
  }

  .social-icon {
    min-width: 100%;
  }

  #menu {
    display: inline-block;
    margin: 0;
    padding: 10;
  }

  nav.container {
    display: flex;
    justify-content: center;
  }
} /* end media */
