/* HEADER */

.header {
	margin: 10% auto;
	max-width: 37.5rem;
	padding: 7.5rem 1.25rem
}

.imageSize {
	width: 100%;
	height: auto;
}

/* PORTFOLIO */

.rig {
  list-style: none;
  font-size: 0px;
	margin-top: 30px;
}

.rig div {
  display: inline-block;
  /*padding: 10px;*/
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-moz-sizing: border-box;
}

.rig div img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

.rig div h3 {
  margin: 0 0 5px;
}

.rig div p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

/* class for 2 columns  */
.rig.columns-2 div {
  width: 47.5%; /* this value + 2.5 should = 50% */
}

.rig.columns-3 div {
  width: 30.83%; /* this value + 2.5 should = 33% */
}

.rig.columns-4 div {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width:300) {
  .grid-nav div {
    display: block;
    margin: 0 0 5px;
  }
  .grid-nav lis a {
    display: block;
  }
  .rig {
    margin-left: 0;
  }
  .rig div {
    width: 100% !important; /* overwrite all li styles */
    margin: 0 0 20px;
  }
}


/* PORTFOLIO HOVER EFFECT */

.item {
	position: relative;
	overflow: hidden;
	/*margin: 10px 1%;*/
	min-width: 320px;
	max-width: 480px;
	max-height: 440px;
	/*width: 48%;*/
	height: auto;
	background: #;
	text-align: center;
	cursor: pointer;
}

.rig .item img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.rig .item .hovertext {
	padding: ;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.rig .item .hovertext::before,
.rig .item .hovertext::after {
	pointer-events: none;
}


.project-item {}
.item-layout {

}

.is-expanded {}

.rig .item .hovertext,
.rig .item .hovertext > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rig .item .hovertext > a { /* HIDES THE "VIEW PROJECT"*/
	z-index: 1000; /* TODO: How to show when Hover?? */
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.rig .item h3,
.rig .item a {
	word-spacing: -0.15em;
	font-weight: 300;
}

.rig .item h3,
.rig .item a {
	font-weight: 800;
}

.rig .item h3,
.rig .item p,
.rig .item a {
	margin: 0;
}

.rig .item p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.hovertext {
	display:block;
}

.item .hovertext::after,
.item img,
.item p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.item .hovertext::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.item h3,
.item div a {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

.item h3 {
	padding-top: 40%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.item p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
}

.item:hover img {
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.item:hover .hovertext::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.item:hover h3,
.item:hover p
 {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

/* ABOUT ME */

#profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 20px;
	margin-bottom: 70px;
}

#about-me {
	position: ;
	z-index: 4;
  padding: 100px;
  background-color: #fff;
}

#profileDescription {
	font-weight: 300;
	font-size: 1.2em;
  color: #989898;
}

.headline {
	margin-bottom: 5rem;
	position: relative;
}
.headline:after {
	background-color: #fff;
	bottom: -2.5rem;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -1.25rem;
	position: absolute;
	width: 2.5rem;
}

/* CONNECT */

#connect {
  padding: 100px;
}



/* FOOTER */

#copyright {
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-size: 12px;
}
