/* HEADER */

.header {
	margin: 10% auto;
	max-width: 37.5rem;
	padding: 7.5rem 1.25rem
}

.imageSize {
	width: 100%;
	height: auto;
}

/* PORTFOLIO */

/* PORTFOLIO HOVER EFFECT */

.project-item {
	position: relative;
	overflow: hidden;
	min-width: 320px;
	max-width: 480px;
	max-height: 440px;
	/*width: 48%;*/
	height: auto;
	background: #;
	text-align: center;
	cursor: pointer;
}

.project-item img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.project-item h3 {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	padding-top: 40%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.project-item p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
	letter-spacing: 1px;
	font-size: 68.5%;
}

.project-item h3,
.project-item a {
	word-spacing: -0.15em;
	font-weight: 800;
	margin: 0;
}

.project-item:hover img { /* Add the zoom effect to the image when hover */
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.project-item:hover h3
 {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.hovertext {
	display:block;
	padding: ;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hovertext::after { /* Add the lines to the hover */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hovertext::after, /* Add the smooth effect to the hover */
.project-item img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.hovertext::before,
.hovertext::after {
	pointer-events: none;
}

.project-item:hover .hovertext::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.project-item-layout .project-item .hovertext,
.project-item-layout .project-item .hovertext > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-item-layout .project-item .hovertext > a { /* HIDES THE "VIEW PROJECT"*/
	z-index: 1000; /* TODO: How to show when Hover?? */
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}



/* PORTFOLIO MODAL WINDOW */

.project-item-layout .expanded {
	display: none;
	position:fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.25)
}

.isExpanded {
	position: fixed;
	width: 100%;
	height: 100%;
  text-align: center;
  background:#fff;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 1;
  overflow: scroll;
}

.isExpanded img {
	width: 100%;
}

.isExpanded h3 {
	padding: 20px;
}

.expanded .isExpanded .modaltext {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modaltext {
	display:block;
	padding: 30% 0 0 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.isExpanded .modaltext p {
	color: #fff;
}
/* ABOUT ME */

#profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 20px;
	margin-bottom: 70px;
}

#about-me {
	position: ;
	z-index: 4;
  padding: 100px;
  background-color: #fff;
}

#profileDescription {
	font-weight: 300;
	font-size: 1.2em;
  color: #989898;
}

.headline {
	margin-bottom: 5rem;
	position: relative;
}
.headline:after {
	background-color: #fff;
	bottom: -2.5rem;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -1.25rem;
	position: absolute;
	width: 2.5rem;
}

/* CONNECT */

#connect {
  padding: 100px;
}



/* FOOTER */

#copyright {
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-size: 12px;
}
