

/* WEB FONTS */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100,500,600");

/* BASE STYLES */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background-color: #bdbdbd;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
}

body {
	/*margin: 100px;*/
}

h1,
h2 {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 300;
	position: relative;
}
/*
h1 {
	margin: 0;
}*/

/*h2 {
	line-height: 1.25;
	margin: 0;
}*/


.header {
	margin: 10% auto;
	max-width: 37.5rem;
	padding: 7.5rem 1.25rem
}

.imageSize {
	width: 100%;
	height: auto;
}

/* NAVIGATION */


nav {
	width: 100%;
	height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
	display: inline;
}

#navigationButton {
	color: #fff;
	opacity: .6;
	text-decoration: none;
	padding: 1em;
}
#navigationButton:hover,
#navigationButton:active {
	color: #fff;
	opacity: .9;
	text-shadow: none;

}

/* FILTER */

#filters {
}

#date-filter {

}

/* PORTFOLIO */

ul.rig {
  list-style: none;
  font-size: 0px;
}

ul.rig li {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-moz-sizing: border-box;
}

ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

ul.rig li h3 {
  margin: 0 0 5px;
}

ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

/* class for 2 columns  */
ul.rig.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}

ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}

ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width:480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav lis a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig- li {
    width: 100% !important; /* overwrite all li styles */
    margin: 0 0 20px;
  }
}

/* HOVER */

ul.rig img:hover {
  opacity:0.6;
  text-align: justify;
  color: #000;
}

/* ABOUT ME */

#profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 20px;
	margin-bottom: 70px;
}

#about-me {
	position: ;
	z-index: 4;
  padding: 100px;
  background-color: #fff;
}

#profileDescription {
	font-weight: 300;
  color: #989898;
  margin: 100px;
}

#resume {
  color: #989898;
  border: thin solid #989898;
  box-shadow: 1px 1px 0 0 #989898;
  display: inline-block;
  min-width: 15rem;
  opacity: 1;
  padding: 1.0625rem 1.5625rem;
  position: relative;
  z-index: 1;
}
#resume:hover,
#resume:active {
  color: black;
  opacity: .9;
  text-shadow: none;
}
.headline {
	margin-bottom: 5rem;
	position: relative;
}
.headline:after {
	background-color: #fff;
	bottom: -2.5rem;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -1.25rem;
	position: absolute;
	width: 2.5rem;
}

/* CONNECT */

#connect {
  padding: 100px;
}

.button {
    border: thin solid #fff;
    box-shadow: 1px 1px 0 0 #fff;
    color: #fff;
    opacity: .6;
    display: inline-block;
    min-width: 15rem;
    opacity: 1;
    padding: 1.0625rem 1.5625rem;
    /*position: relative;*/
    z-index: 1;
}
.button:hover,
.button:active {
  color: #fff;
  opacity: .9;
  text-shadow: none;
}

.social-icon {
  opacity: .8;
  padding: 20px;
}

.social-icon:hover {
  opacity: 9;
}


/* FOOTER */

#copyright {
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-size: 12px;
}

/* connect */


/* RESPONSIVE WEB */

@media only screen and (max-width: 800px){

button {
  min-width: 100%;
}

a {
  display: inline-block;
  width: ;
}

#about-me {

    font-size: 0.9em;
    padding: 30px 0 30px 0;
}
.social-icon {
  min-width: 100%;
}

}
